@font-face {
	font-family: "Madjoe";
	src: url("./components/Images/Madjoe.ttf");
}

.App {
	text-align: center;
}

.score {
	display: flex;
	justify-content: space-between;
	font-family: "Madjoe";
	font-size: 2em;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index: 2;
}

.points {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

#button-go {
	font-family: "Madjoe";
	font-size: 3em;
	z-index: 5;
	position: fixed;
	top: 45%;
	width: 30%;
	height: 30%;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	color: black;
	border: none;
}