@keyframes slide-in-left {
	0% {
		transform: translateX(-500px);
		transform: translateY(-500px);
	}
	40% {
		transform: translateX(300px);
		transform: translateY(30px);
	}
	60% {
		transform: translateX(500px);
		transform: translateX(500px);
	}
	100% {
		transform: translateX(2000px);
		transform: translateX(2000px);
	}
}

.slide-in-left {
	-webkit-animation: slide-in-left 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	animation: slide-in-left 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
